# created by virtualenv automatically
/Lib/
/Scripts/
/pyvenv.cfg
/main.py
/DataModels/__pycache__
/Parsing/__pycache__
/Collecting/__pycache__
/Notifying/__pycache__
/Downloading/__pycache__
/.vscode
/.idea
